.App{
  display: flex;
  justify-content: center;
  background-color: black;
  flex-wrap: wrap;

}

.projectBg{
  width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.1;
    background-size: contain;
}

section{
  width:100vw;
  height:100vh;
  max-width: 1280px;
  overflow: hidden;
}



.buffer{
  height:50vh;
  width: 100vw;
  position: relative;
}
h4{
  font-size: 2.65em;
  color:#239ABC;
  font-weight: 100;
  letter-spacing: 6.95px;
}

.splashWrapper{
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  overflow: hidden;
}

.leftSplash{
  width: 55%;
  height:100%;
  background-color: blue;
  position: relative;
      background-size: cover;
      background-position: right;
  }
.rightSplash{
  width: 45%;
  height:100%;
  background-color: green;
  background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;

    .titleCard{
      text-align: center;
      width: 100%;
      position: relative;
      float: left;
      padding: 0 10px;
      background-color: #5a5353bd;
      padding: 30px;

        h4{
          font-size: 25px;
          letter-spacing: 8.03px;
          color: #F4E2E7;
        }
    }

    .titleCard:before{
      content: "";
      background: #F4E2E7;
      position: absolute;
      left: 22.5%;
      height: 1px;
      width: 55%;
      right: 22.5%;
    }

    .titleCard:after{
      content: "";
      background: #F4E2E7;
      position: absolute;
      left: 22.5%;
      height: 1px;
      width: 55%;
      right: 22.5%;
    }

}

.rightText{
  height: 50%;
  margin: 0 auto;
  position: relative;
  margin-right: 20px;

  h1{
    position: absolute;
  right: 0;
  bottom: 0;
  }
}

.leftText{
  height: 50%;
  margin-left: 20px;
}
.headerText{
  font-size: 8em;
  color: pink;
  font-family: Archivo;
  letter-spacing: 9.98px;
}

.textWrapper{
  height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #000000b8;
}

.devSubTxt{
  text-align: right;
  position: absolute;
  right: 0;
  top:0;
  font-family: Montserrat;
  margin-right: 20px;
  margin-top: 60px;


}

.uiSubTxt{
  font-family: Montserrat;

}


svg{width: 100%; height: 100%;}
line{stroke:#f2dede;stroke-width:2px}



// ABOUT
.aboutWrapper{
  width:100%;
  height:100%;

  .aboutMask{
    width:100%;
    height:100%;

  }

  .contentWrapper{
    color: #F50006;


    .blocText{
      width: 43%;
      display: flex;
      float: left;
      h1{
        font-family: Archivo;
        font-weight: regular;
        font-size: 86px;
        padding:30px;
        letter-spacing:14.66px;
      }
    }
    p{
      font-size: 30px;
      padding-top: 2%;
      font-family: Montserrat;
      letter-spacing: 8.03px;
      line-height: 52px;
      width: 95%;
      margin-left: 25px;
      margin-right: 10px;    }
  }
}

///Projects

.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.carousel-control.left {
  background-image: none;

}
.carousel-control.right {
  background-image: none;

}

.projectWrapper{
  width:100%;
  height:100%;

  .projectMask{
    width:100%;
    height:100%;
    display: flex;
    position: relative;

    img{
          max-width: 40vw;
          position: absolute;
          right: 5%;
    }

    .demoView{
      position: relative;
      margin-top: 5%;
      margin-left: 30px;
      right: 10%;
      width: 100vw;
      height: 100vh;

    }

    .contentWrapper{
    position: absolute;
    left: 5%;
    color:#EFB808;

    p{
      font-family: Montserrat;
      letter-spacing: 13.36px;
      line-height: 40px;
      font-size: 20px;

      .boldTxt{
        font-weight: bold;

      }
    }
  }

  .blocText{
    position: relative;
    margin-top: 10%;

    .equal{
      position: absolute;
      top: 50%;
      right: 0;
      font-family: Montserrat;
      font-size: 30px;

    }
    h1{
      font-size: 120px;
      display: flex;
      align-items: center;
      letter-spacing:14.66px;
      font-family: Archivo;
      font-weight: regular;
      span{
        font-size: 30px;
        letter-spacing:13.66px;
        font-family: Montserrat;

      }
    }
  }

  }
}


///Contact

.contactWrapper{
  width: 100%;
  height:100%;
  color:#084C61;

  .contactMask{
    width: 100%;
    height:100%;
    display: flex;


    .leftSide{
      width: 55%;
      height:100%;
      position: relative;

      h1{
        font-family: Archivo;
        font-weight: regular;
        font-size: 200px;
        letter-spacing: 25.21px;
      }
      .socialList{
        color:#36151E;

        span{
          font-weight: bold;
        }
      }

      p{
        font-family: Montserrat;
        font-weight:regular;
        letter-spacing: 13.36px;
        font-size: 30px;
        width: 90%;
      }
    }

    .rightSide{
      width:45%;
      height:100%;
      position: relative;

      form{
        width:85%;
        letter-spacing: 13.36px;
        font-size:20px;
        position: absolute;
        bottom:25%;
        font-family: Montserrat;
        color: #36151E;

        input{
          width: 100%;
          border: none;
          background-color: #deb88700;
          border-bottom: 1px solid #084C61;
          text-align: end;
          letter-spacing: 13.36px;
          height: 50px;

        }

        textarea{
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;
          width: 100%;
          height: 150px;
          background-color: #00ffff00;
          border: none;
          border-bottom: 1px solid #084C61;
          text-align: end;
          letter-spacing: 13.36px;

        }
      }

    }

  }

}


// REVIEWS //

.reviewWrapper{
  width: 100%;
  height:100%;

    .reviewMask{
      width: 100%;
      height:100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: relative;

      .reviewBox{
        background-color: #0000007a;
        color: pink;
        font-family: Montserrat;
        font-weight: light;
        letter-spacing: 8.03px;
        padding: 25px;
        width:85%;
        font-size: 12px;




        span{
          font-family: Archivo;
          font-weight: bold;
          font-size: 18px;
        }

      }

      .all{
        position: absolute;
        left: 0;
        top: 0;
      }

      .remove{
        position: absolute;
        bottom: 0;
        right: 0;
        top: none;
        left: none;
      }


    }
}


// MEDIA QUERY

@media only screen and (max-width: 600px) {



  .remove{
    display: none;
  }

  ///ABOUT MOBILE


  .aboutWrapper .contentWrapper{

    p {
      font-size: 18px !important;
  padding-top: 2% !important;
  letter-spacing: 6.03px !important;
  line-height: 40px !important;
  padding-top: 65px!important;
  max-height: 100%;
  }

  .blocText{
    width: 68%!important;


    h1{
      font-size: 40px!important;
      padding-bottom: 0px!important;
      padding-top: 0px!important;
      letter-spacing: 13.66px!important;
      font-weight: bold;
      line-height: 55px;

    }
  }

}


////reviewMobile

.reviewWrapper .reviewMask {

  span{
    font-size: 25px!important;
  }

  .reviewBox{
        letter-spacing: 6.03px!important;
        font-size: 18px!important;

  }

  .all {
    top: 10%;
  }

}



/////ProjectsMobile

.projectWrapper .projectMask{

  position: relative;

  .blocText{
    width: auto!important;
    left: 20px;

    h1{
      font-size: 60px!important;
      span{
        font-size: 15px;
        margin-right: 15px;
      }
    }

    .equal{
      bottom: 0%;
      left: 25%;
      height: auto;
      width: 100vw;
    }


  }


  img{
    max-width: 40vh;
    position: absolute;
    top: 33%;
    left: 15%;
  }

  .demoView{
    top: 30%;
  }


  .contentWrapper {
    position: relative;
    left: 0px;

    p{
      overflow: hidden;
      bottom: 5%;
      position: absolute;
      width: 100vw;
      justify-content: center;
      letter-spacing: 8.3px !important;
      font-size: 18px !important;
      text-align: center;

    }

  }

}

// CONTACT ////

.contactMask{

  display: flex;
  flex-wrap: wrap;

  .leftSide{

    width: 100%!important;
    height: 50%!important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;

    h1{
      font-size: 85px!important;
      font-weight: bold !important;
      margin-left: 25px !important;
    }

    p{
      font-size: 20px!important;
    }

  }

   .rightSide{
    width: 100%!important;
    height: 50%!important;


    form{
      bottom:5% !important;
      left:7% !important;
    }

  }

}

}
